<p style="color: green"><%= notice %></p>

<% link_to "Register a New user", new_user_registration_path %>
<h1>Users</h1>
<p> The current user is <%= current_user.name %></p>
<div id="users">
<% @users.each do |user| %>
  <div class="user" id="user-<%= user.id %>">
  <div class="user-photo">
    <%= image_tag user.photo, alt: "User Photo", class: "photo", title: "#{user.name}'s Photo" %>
  </div>
    <div class="user-info">
      <p><%= user.name %></p>
      <p>Number of Posts: <%= user.posts.count %></p>
      <p>
        <%= link_to "Show this user", user_path(user) %>
      </p>
    </div>
  </div>
<% end %>
</div>
