<p style="color: green"><%= notice %></p>

<p><strong>Post #<%= params[:id] %> by <%= @post.author.name %></strong></p>

<p class="sub"><strong>Comments: </strong><%= @post.comments.count %>,

<strong>Likes: </strong><%= @post.likes.count %></p>

<p class="border"><%= @post.text %></p>

<div class="border small">
  <p>Comments</p>
  <% @post.comments.each do |comment| %>
    <div data-comment-id="<%= comment.id %>">
      <p>
        <strong><%= comment.user.name %>: </strong><%= comment.text %>
        
        <% if can? :update, comment %>
          <%= link_to "Edit", edit_user_post_comment_path(@post.author, @post, comment) %>
        <% end %>
        <% if can? :destroy, comment %>
        <%= link_to "Delete", user_post_comment_path(@post.author, @post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
        </p>
    </div>
  <% end %>
</div>

<div>
<% if can? :update, @post %>
  <%= link_to "Edit this post", edit_user_post_path(@post.author, @post) %> |
<% end %>
  <%= link_to "Back to posts", user_posts_path(@post.author) %>

  <% if can? :destroy, @post %>
  <%= button_to "Delete this post", user_post_path(@post.author, @post), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  </div>

<%= link_to "New comment", new_user_post_comment_path(@post.author, @post) %>


  <%= button_to "Like", user_post_likes_path(@post.author, @post), method: :post, remote: true, class: "like-button" %>

