<h1><%= @post.title %></h1>
<p><%= @post.text %></p>

<p><strong>Likes:</strong> <%= @post.likes_counter %></p>

<p><strong>Comments:</strong> <%= @post.comments.count %></p>

<%= button_to 'Like', like_post_path(@post), method: :post %>

<%= link_to 'Back to posts', posts_path %>
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
<% end %>

<%= render partial: 'comments/form', locals: { comment: Comment.new, post: @post } %>
